In [1]:
%load_ext autoreload
%autoreload 2
%cd ..

C:\Users\admin\Documents\ds4a

## Principal Libreries

In [2]:
import numpy as np
import pandas as pd
import os
import dataframe_image as dfi

In [4]:
from tools.funcion_enlistar_nombres_carpeta import aplicar_enlistar_nombres_archivos
from tools.funcion_leer_archivos import leer_archivos

In [5]:
from core.metadata.directory import PathDataRaw
from core.metadata.directory import PathOutput

In [6]:
pd.options.display.max_columns = None

In [7]:
from core.tables_EDA_generator.tables_generator import apply_tables_maker_eda
from tools.generate_dic_data import apply_dic_data

## Analysis and Saving Data

In [8]:
apply_tables_maker_eda(path=PathDataRaw.data, display_=False, saving=True)

---- DATABASE ABREVIACION_ESTADOS----- :  READY
---- DATABASE CHEMICALS----- :  READY
---- DATABASE EARNINGS----- :  READY
---- DATABASE KAGGLE_INCOME----- :  READY
---- DATABASE USCO2015----- :  READY
---- DATABASE WATER_USAGE----- :  READY

## Analysis and Showing Data

In [9]:
apply_tables_maker_eda(path=PathDataRaw.data, display_=True, saving=False)

---- DATABASE ABREVIACION_ESTADOS----- :  READY

,IS THERE NULL VALUE?,NULL_VALUES,DTYPES,COUNT,UNIQUE,TOP,FREQ
estado,False,0,object,51,51,Missouri - (MO) - Misuri,1

---- DATABASE CHEMICALS----- :  READY

,IS THERE NULL VALUE?,NULL_VALUES,DTYPES,COUNT,MEAN,STD,MIN,25%,50%,75%,MAX
cws_name,False,0,object,NA,NA,NA,NA,NA,NA,NA,NA
chemical_species,False,0,object,NA,NA,NA,NA,NA,NA,NA,NA
contaminant_level,False,0,object,NA,NA,NA,NA,NA,NA,NA,NA
county,False,0,object,NA,NA,NA,NA,NA,NA,NA,NA
pws_id,False,0,object,NA,NA,NA,NA,NA,NA,NA,NA
pop_served,False,0,int64,882319,10731.8,95200.6,0,118,485,3030,8.271e+06
state,False,0,object,NA,NA,NA,NA,NA,NA,NA,NA
unit_measurement,False,0,object,NA,NA,NA,NA,NA,NA,NA,NA
value,False,0,float64,882319,7.43469,23.6779,0,0.3,1,4.6,4527
year,False,0,int64,882319,2008.85,4.72794,1999,2005,2009,2013,2016
fips,False,0,int64,882319,30189.9,15063.3,6001,19109,33005,42027,55141
state_fips,False,0,int64,882319,30.1278,15.0691,6,19,33,42,55

---- DATABASE EARNINGS----- :  READY

,IS THERE NULL VALUE?,NULL_VALUES,DTYPES,COUNT,MEAN,STD,MIN,25%,50%,75%,MAX
Unnamed: 0,False,0,int64,20120,10930.1,6346.49,0,5417.75,10854.5,16450.2,21997
geo_id,False,0,object,NA,NA,NA,NA,NA,NA,NA,NA
fips,False,0,int64,20120,30209.7,15021.9,1001,18172.5,29105,45007,56045
county,False,0,object,NA,NA,NA,NA,NA,NA,NA,NA
total_med,False,0,float64,20120,30029.5,5204.22,12533,26680,29362,31996.2,69049
total_agri_fish_mine,False,0,float64,20120,32383.5,12224.5,2500,24145,30587,38271.5,182620
agri_fish_hunt,False,0,float64,20120,26562.6,9556.57,2500,20788.8,25691.5,31447.8,250000
construction,False,0,float64,20120,33728.7,7136.3,2500,29145,32976.5,38086.2,87583
manufacturing,False,0,float64,20120,37718.5,10474.8,2500,31161,36036.5,41889,156250
wholesale_trade,False,0,float64,20120,37678.8,11868.8,2500,31042,36797,42821.5,250000
retail_trade,False,0,float64,20120,20258,3938.83,2500,17631.5,20208,22305,51761
transport_warehouse_utilities,False,0,float64,20120,42792.8,8564.42,2500,37423.8,42370,47969,137805
transport_warehouse,False,0,float64,20120,40002.7,8763.49,2500,34717.5,40156,44863.2,138628
fin_ins_realest,False,0,float64,20120,34364.2,9972.62,4643,28229,32473.5,38571,152222
fin_ins,False,0,float64,20120,36550.3,11844.4,2500,29506.2,34459,41240.2,250000
total_prof_sci_mgmt_admin,False,0,float64,20120,30529.8,10711.2,2500,23750,29177,35179,137969
prof_sci_tech,False,0,float64,20120,41451.6,16113.8,2500,31563,40000,49141,250000
admin_sup,False,0,float64,20120,22080,8370.9,2500,17344,21509,25903.2,250000
total_edu_health_social,False,0,float64,20120,29659.1,5577.76,9231,26000,29333,32323,57292
edu_serv,False,0,float64,20120,33354.3,6754.18,6597,29766,33455,37314.8,64375
health_social,False,0,float64,20120,27937.3,5986.9,8333,24144,27179,31116,66250
total_arts_ent_acc_food,False,0,float64,20120,12427.7,3887.44,2500,10073.5,11918.5,14496.5,60063
acc_food_serv,False,0,float64,20120,11741,3791.33,2500,9531,11398,13462,78125
other_ser,False,0,float64,20120,21494.7,5965.54,2500,17797,21324,24943.2,152857
pub_admin,False,0,float64,20120,41424,10575.7,5625,33958,40188,47000.8,118517
year,False,0,int64,20120,2012.98,2.00116,2010,2011,2013,2015,2016
estate,False,0,object,NA,NA,NA,NA,NA,NA,NA,NA

---- DATABASE KAGGLE_INCOME----- :  READY

,IS THERE NULL VALUE?,NULL_VALUES,DTYPES,COUNT,MEAN,STD,MIN,25%,50%,75%,MAX
State_Name,False,0,object,NA,NA,NA,NA,NA,NA,NA,NA
County,False,0,object,NA,NA,NA,NA,NA,NA,NA,NA
ALand,False,0,int64,1678,2.25994e+09,2.11859e+10,45167,2.83572e+06,8.14304e+06,2.63984e+07,6.84185e+11
AWater,False,0,int64,1678,1.34757e+08,2.72996e+09,0,0,38021,410578,1.077e+11
Mean,False,0,int64,1678,1.29298e+06,1.01475e+07,0,47376,70903.5,130801,2.45849e+08
Median,False,0,int64,1678,1.6564e+06,1.30999e+07,0,38902.5,69297.5,271723,3.17093e+08
Stdev,False,0,int64,1678,916343,7.09343e+06,0,37399.5,52138.5,97231,1.68554e+08

---- DATABASE USCO2015----- :  READY

,IS THERE NULL VALUE?,NULL_VALUES,DTYPES,COUNT,MEAN,STD,MIN,25%,50%,75%,MAX
STATE,False,0,object,NA,NA,NA,NA,NA,NA,NA,NA
STATEFIPS,False,0,int64,3223,31.3342,16.3319,1,19,30,46,78
COUNTY,False,0,object,NA,NA,NA,NA,NA,NA,NA,NA
COUNTYFIPS,False,0,int64,3223,102.845,106.674,1,35,79,133,840
FIPS,False,0,int64,3223,31437,16346.5,1001,19034,30027,46110,78030
...,...,...,...,...,...,...,...,...,...,...,...
total_withdrawal_2,False,0,object,NA,NA,NA,NA,NA,NA,NA,NA
total_withdrawal_3,False,0,object,NA,NA,NA,NA,NA,NA,NA,NA
TO-CUsFrPartial,False,0,object,NA,NA,NA,NA,NA,NA,NA,NA
TO-CUsSaPartial,False,0,object,NA,NA,NA,NA,NA,NA,NA,NA
TO-CUTotPartial,False,0,object,NA,NA,NA,NA,NA,NA,NA,NA

---- DATABASE WATER_USAGE----- :  READY

,IS THERE NULL VALUE?,NULL_VALUES,DTYPES,COUNT,MEAN,STD,MIN,25%,50%,75%,MAX
year,False,0,int64,3224,2010,0,2010,2010,2010,2010,2010
state,False,0,object,NA,NA,NA,NA,NA,NA,NA,NA
county,False,0,object,NA,NA,NA,NA,NA,NA,NA,NA
population,False,0,float64,3224,96.9535,309.162,0.082,11.3095,26.0865,65.7502,9818.6
total_withdrawal_1,False,0,float64,3224,94.9866,251.712,0,4.35,13.2,58.3575,2806.18
total_withdrawal_2,False,0,float64,3224,14.9858,142.77,0,0,0,0,3257.4
total_withdrawal_3,False,0,float64,3224,109.972,293.004,0,4.51,14.03,64.5375,3265.38
pub_sup_total,False,0,float64,3224,193.687,724.139,0,14.2845,38.375,114.933,23975.7
dom_sup_total,False,0,float64,3224,202.161,110.334,25.805,152.813,180.132,219.775,2722.61
ind_total,False,0,float64,3224,19.7851,137.354,0,0,0.08,3.16,4491
irrigation_total,False,0,float64,3224,110.25,376.586,0,0.74,4.68,35.065,7173.1
crop_total,False,0,float64,3224,75.8092,357.354,0,0,0.12,6.885,7162.28
golf_total,False,0,float64,3224,1.17432,5.53871,0,0,0,0.74,198.06
livestock_total,False,0,float64,3224,1.24143,2.65119,0,0.22,0.63,1.48,80.88
aqua_total,False,0,float64,3224,11.6929,115.204,0,0,0,0.61,3486.28
mining_total,False,0,float64,3224,6.59813,48.4353,0,0,0.36,1.8,1722.68
thermoelectric_total,False,0,float64,3224,2338.24,8122.58,0,0,0,0,83725.3

## Saving Data in dict, every key is a file and the values is the dataframe

In [10]:
df = apply_dic_data(PathDataRaw.data)

In [11]:
df.keys()

dict_keys(['ABREVIACION_ESTADOS', 'CHEMICALS', 'EARNINGS', 'KAGGLE_INCOME', 'USCO2015', 'WATER_USAGE'])

## Check the columns

In [12]:
for file in df:
    print(f'------{file}------')
    print(df[file].columns)
    print('')

------ABREVIACION_ESTADOS------
Index(['estado'], dtype='object')

------CHEMICALS------
Index(['cws_name', 'chemical_species', 'contaminant_level', 'county', 'pws_id',
       'pop_served', 'state', 'unit_measurement', 'value', 'year', 'fips',
       'state_fips'],
      dtype='object')

------EARNINGS------
Index(['Unnamed: 0', 'geo_id', 'fips', 'county', 'total_med',
       'total_agri_fish_mine', 'agri_fish_hunt', 'construction',
       'manufacturing', 'wholesale_trade', 'retail_trade',
       'transport_warehouse_utilities', 'transport_warehouse',
       'fin_ins_realest', 'fin_ins', 'total_prof_sci_mgmt_admin',
       'prof_sci_tech', 'admin_sup', 'total_edu_health_social', 'edu_serv',
       'health_social', 'total_arts_ent_acc_food', 'acc_food_serv',
       'other_ser', 'pub_admin', 'year', 'estate'],
      dtype='object')

------KAGGLE_INCOME------
Index(['State_Name', 'County', 'ALand', 'AWater', 'Mean', 'Median', 'Stdev'], dtype='object')

------USCO2015------
Index(['STATE', 'STATEFIPS', 'COUNTY', 'COUNTYFIPS', 'FIPS', 'YEAR',
       'population', 'pub_sup_1', ' pub_sup_2', ' pub_sup_3',
       ...
       'gro_wat_3', 'surf_wat_1', 'surf_wat_2', 'surf_wat_3',
       'total_withdrawal_1', 'total_withdrawal_2', 'total_withdrawal_3',
       'TO-CUsFrPartial', 'TO-CUsSaPartial', 'TO-CUTotPartial'],
      dtype='object', length=141)

------WATER_USAGE------
Index(['year', 'state', 'county', 'population', 'total_withdrawal_1',
       'total_withdrawal_2', 'total_withdrawal_3', 'pub_sup_total',
       'dom_sup_total', 'ind_total', 'irrigation_total', 'crop_total',
       'golf_total', 'livestock_total', 'aqua_total', 'mining_total',
       'thermoelectric_total'],
      dtype='object')